
/*Custom by Hanh*/

/*Jetpack*/
div.sharedaddy h3.sd-title {
    /* margin: 0 0 1em 0; */
    display: block!important;
    /* line-height: 1.2; */
    /* font-size: 15px; */
    /* font-weight: bold; */
    font-family: "Open Sans";
    line-height: 24px!important;
    font-weight: 400!important;
    font-style: normal;
    font-size: 20px!important;
}
div.sharedaddy, #content div.sharedaddy, #main div.sharedaddy {
    padding: 20px 0 0;
}
.wp-job-manager-bookmarks-form {
    margin: -.7em 0 8px!important;
    text-decoration: none !important;
    display: inline-block;
    margin: -10px 5px 5px 0!important;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    border-radius: 3px;
    color: #777 !important;
    background: #f8f8f8;
    border: 1px solid #cccccc!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
    text-shadow: none;
    line-height: 23px;
    padding: 1px 8px 0px 7px;
}
.wp-job-manager-bookmarks-form a.bookmark-notice, .wp-job-manager-bookmarks-form div.bookmark-details {
	padding: 0!important;
}
.single-job-sidebar {
    margin-top: -25px;
}
.wp-job-manager-bookmarks-form a.remove-bookmark {
    padding: 0!important; margin-left: 20px;
}
/*Jetpack*/
#nav-main ul.sf-menu > li:last-child {
	border: none;
}

#containerfooter h3  {
	font-size: 18px;
	font-weight: 200;
}
/*
#loginpanel h1,  #registerpanel h1  {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
	text-align: left;
}

#loginpanel h2,  #registerpanel h2 {
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
	text-align: left;
}

#loginpanel p,  #registerpanel p  {
	margin: 5px 0;
	padding: 0;
}

#loginpanel a,  #registerpanel a  {
	text-decoration: none;

}

#loginpanel a:hover,  #registerpanel a:hover  {
	color: white;
}

#loginpanel a .lost-pwd,  #registerpanel a .lost-pwd {
	display: block;
	float: left;
}

#loginpanel ul,  #registerpanel ul  {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.6em;
	list-style: none;
}

#loginpanel .content,  #registerpanel .content  {
	margin: 0 auto;
	padding: 5px 10px;
	text-align: left;
	font-size: 0.85em;
	border-top: 1px solid #fff;
}

#loginpanel .content form,  #registerpanel .content form  {
	margin: 0 0 10px 0;
}

#loginpanel .content label ,  #registerpanel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 200px;
	display: block;
}

#loginpanel .content input.field,  #registerpanel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	width: 100%;
	color: white;

}

#loginpanel .content input:focus.field, #registerpanel .content input:focus.field {
	background: #ffffff;
	border: 1px #1A1A1A solid;
	box-shadow: 0 0 3px #ffffff;
	color: #000000;
}

#loginpanel .content input.bt_login,  #registerpanel .content input.bt_login  {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#loginpanel .content input.bt_login,  #registerpanel .content input.bt_login  {
	width: 74px;
}

#loginpanel .lost-pwd,  #registerpanel .lost-pwd  {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: none;
}

#loginpanel,  #registerpanel  {
	    background: none repeat scroll 0 0 #272727;
	    color: #999999;
	    position: absolute;

		top: 34px;
	    width: 250px;
		z-index: 1000;
	    border-bottom-right-radius: 5px;
	    border-bottom-left-radius: 5px;

}

#loginpanel:before,  #registerpanel:before  {
	content: "";
	position: absolute;
	left: 24px;
	border-width: 8px 8px 0;
	border-style: solid;
	border-color: #fff transparent;
	width: 0;
	display: block;
	z-index: 9999;
	top: 0px;
	;
}

#loginpanel:after,  #registerpanel:after  {
	content: "";
	position: absolute;
	left: 25px;
	border-width: 7px 7px 0;
	border-style: solid;
	border-color: #F76A0C transparent;
	display: block;
	width: 0;
	z-index: 9999;
	top: -1px;
}
#registerpanel .avatar {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
*/

#topbar ul.ab-submenu {
  background: none repeat scroll 0 0 #272727;
  color: #999999;
  border:none;
  border-top: 1px #fff solid;
  min-width:250px;
  padding: 10px 15px;
}
#topbar ul.chevon.ab-submenu:before  {
	content: "";
	position: absolute;
	left: 24px;
	border-width: 8px 8px 0;
	border-style: solid;
	border-color: #fff transparent;
	width: 0;
	display: block;
	z-index: 9999;
	top: 0px;
	;
}

#topbar ul.chevon.ab-submenu:after  {
	content: "";
	position: absolute;
	left: 25px;
	border-width: 7px 7px 0;
	border-style: solid;
	border-color: #F76A0C transparent;
	display: block;
	width: 0;
	z-index: 9999;
	top: -1px;
}

#topbar .ab-sub-wrapper {
}
#topbar ul.ab-submenu .avatar {
    float: left;
    margin-right: 5px;
}
#topbar ul.ab-submenu .content p {
	  margin: 5px 0;
}
p a.ab-item {
  margin-left: 75px;
}
#topbar ul li {border-bottom:none;}
#topbar ul li  a{text-align:left;color: #999999!}

p#wpua-remove-button-existing {
    float: left;
    padding-right: .5em;
}
.page-header  {
	border-top:none!important;
	border-bottom:none!important;
}

.slash-bg  {
	  background: url(../../img/slash_bg.jpg) no-repeat #bee4ed;
	;
}

.blog_carousel .blog_item  {
	  border: 1px solid #eee;
	  border-color: rgba(255, 255, 255, 1);
	  list-style: none;
	  position: relative;
	  height: auto;
	  /* min-height: 410px;*/
	  background-color: #fff;
	  opacity: .9;
}

#blog_carousel_container  {
	  padding: 20px 10px;
}

.reg-entry-content p  {
	  padding: 10px;
	  text-align:left;
}

.housekeeping-box  {
	text-align:center;
}

.Login_box,  .RegisterBox  {
	    /*float: right;
	    width: 300px;
	    margin-right: 30px;*/
		padding: 30px;
	    border: solid 1px #006;
	    margin-top: 10px;
}
.sumary_box {
	padding: 30px;
    border-left: 1px solid #ebebeb;
}

.outshadow  {
	    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .2);
	    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, .2);
	    box-shadow: 0 0 12px rgba(0,  0,  0,  .2);
}

@media (min-width:1200px)  {
	  .Login_content,  .Register_content  {
	      /*float: left;
	      width: 310px;
	      height: 330px;
	      padding: 50px 20px 0 240px;
	      */    background: url("../../img/login_background.jpg") right bottom no-repeat #c0c0c0;
	    min-height: 330px!important;
	    margin-top: 50px;
	    border-bottom: 20px solid #ff7d00;
	    border-top: 3px solid #898989;
}
}
@media screen and (max-width: 1199px)  {
	.Login_content,  .Register_content  {
	display: none;
	}
}

/*.Login_box .input ,  .RegisterBox .input  {
	    width: 100%;
	    height: 30px;
	    font-size: 12px;
	    padding: 0 0 0 10px;
	    border: 1px solid #bababa;
	    line-height: 30px\9;
}

.Login_box .input:hover,  .RegisterBox .input:hover   {
	    border: 1px solid #ff5b00;
	    box-shadow: 0 0 4px #ffad80;
}*/
.job-manager-form fieldset .Login_box label {
	float:none;
	width:100%;
}
.animated  {
	    visibility: hidden;
}

.visible  {
	    visibility: visible;
}

.fadeInLeft  {
	    -webkit-animation-name: fadeInLeft;
	    animation-name: fadeInLeft;
}

.animated  {
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
}

.icon-box  {
	    position: relative;
	    margin-bottom: 30px;
}

.icon-box.circled .icon  {
	    color: #a6ce39;
}

.icon-box.circled .icon  {
	    color: #a6ce39;
	    border-radius: 50%;
}

.icon-box .icon  {
	    color: #a6ce39;
}

.icon-box .icon  {
	    float: left;
	    width: 60px;
	    height: 60px;
	    line-height: 60px;
	    margin-right: 30px;
	    font-size: 28px;
	    text-align: center;
	    color: #a6ce39;
	    position: relative;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
}

.icon-box .icon .entypo  {
	    font-size: 30px;
}

.icon-box .icon i  {
	    position: relative;
	    z-index: 2;
	    margin: 0 0 0 2px;
	    top: 0;
}

.icon-box.circled .icon:before  {
	    background: #fff;
	    border-radius: 50%;
}

.icon-box .icon:before  {
	    content: "";
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 2;
	    background: #f2f2f2;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
}

.icon-box .icon-box-body  {
	    overflow: hidden;
	    position: relative;
	    z-index: 2;
	    line-height: 24px;
}

.no-touch .icon-box.icon-box-animated .icon:after  {
	    -webkit-transition: -webkit-transform 0.2s,  opacity 0.3s;
	    -moz-transition: -moz-transform 0.2s,  opacity 0.3s;
	    transition: transform 0.2s,  opacity 0.3s;
}

.icon-box.circled .icon:after  {
	    background: #a6ce39;
}

.icon-box.circled .icon:after  {
	    border-radius: 50%;
	    background: #a6ce39;
}

.icon-box .icon:after  {
	    content: "";
	    display: block;
	    position: absolute;
	    left: -3px;
	    top: -3px;
	    bottom: -3px;
	    right: -3px;
	    z-index: 1;
	    -webkit-transition: 0.3s;
	    transition: 0.3s;
}

.no-touch .icon-box.icon-box-animated .icon:hover  {
	    color: #fff;
}

.no-touch .icon-box.icon-box-animated .icon:hover:before  {
	    background-color: #a6ce39;
}


.no-touch .icon-box.icon-box-animated .icon:hover:before  {
	    background-color: #a6ce39;
}

.entypo:before  {
	    font-style: normal;
	    font-weight: normal;
	    speak: none;
	    display: inline-block;
	    text-decoration: inherit;
	    width: 1em;
	    text-align: center;
	    /* opacity: .8;*/    
		font-variant: normal;
	    text-transform: none;
	    line-height: 1em;
	    /* font-size: 120%;*/    
		/* text-shadow: 1px 1px 1px rgba(127,  127,  127,  0.3);*/
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
}

.icon-box-body h4  {
	     margin-top:0;
	margin-bottom:0;
}

.slider-box {
  padding: 30px;
}
.slider-box {
  background: #454545;
  background: rgba(69, 69, 69, 0.95);
  position: relative;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin-top: 10px;
}
.slider-box h2 {
  color: #fff;
  margin-bottom: 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.spacer-sm {
  height: 35px;
}
.spacer {
  height: 50px;
  clear: both;
}
.call-to-action {
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 40px 30px;
  text-align: center;
}
.cta-btn .button {
  background: #F76A0C;
}
.cta-btn .button:hover {
background: #f99654;
}
.cta-btn a, .cta-btn a:hover{
	color:#fff;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-job-group {
  margin-bottom: 5px;
}
.list-job-group {
  margin-left: -10px;
  margin-right: -10px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-job-group .list-group-item {
  padding: 12px 10px 2px 30px;
  border-left: 0;
  border-right: 0;
}
.list-job-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-job-group .list-group-item {
  float: left;
  width: 50%;
  padding: 0 10px;
  border: 0;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-heading a {
  color: #428bca;
  text-decoration: none;
}
.list-job-group .list-group-item-heading {
  font-size: 17px;
  font-weight: 400;
}
.list-job-group .list-group-item-heading {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.list-job-group .list-group-item-heading, .list-job-group .priority-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.list-job-group .list-group-item:nth-child(1) .list-group-item-heading, .list-job-group .list-group-item:nth-child(2) .list-group-item-heading {
  border-top-width: 0;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
.list-group-item-text .priority-data {
	color:#F76A0C;
}
.list-job-group .list-group-item-text {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.list-job-group .priority-data {
  margin-bottom: 5px;
}
.list-job-group .list-group-item-heading, .list-job-group .priority-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.home_blog .hometitle {  text-align: left;}

.summary-job-details h2.widgettitle {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
}
.button {
	background: #F76A0C;
	color:#fff;
}
#commentform .form-submit #submit, .home-button.button, .cart_totals .checkout-button, .kad-btn {
    font-size: 14px!important;padding: 13px 18px!important;
}
#registerform fieldset {
  border: 1px solid #cccccc;
  margin: 0 0 1.5em;
  padding: 1em 2em;
}
.single-job fieldset {
  border: 1px solid #cccccc;
  margin: 30px 0 1.5em;
  padding: 0 1em;
}
.single_job_listing .company {
    border: none!important;
    box-shadow: none!important;
    margin: 0!important;
}

#registerform fieldset legend, .single-job fieldset legend {
  margin-left: 10px;
  background-color: #FFF;
  width:auto;
  border-bottom:none;
  padding-left: .8em;
  padding-right: .8em;
  margin-bottom: 10px;
}
textarea#company_info, textarea#message, textarea#thu-gioi-thieu, textarea#notes {
  width: 100%;
  height: 100px;
  border: 1px solid #ebebeb;
}

/*job dashboard*/
div.alert, div.wpcf7-response-output, .job-manager-message, .job-manager-info, .job-manager-error, .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .cleanlogin-notification {
    padding: 20px 28px !important;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 14px;
    position: relative;
    background-image: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.alert-info, .job-manager-info, .woocommerce .woocommerce-info {
    background-color: #dfeffe;
    border-color: #b1d5f6 !important;
    color: #3d94e6;
    border-width: 1px !important;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 6px;
}
a.alert {
    padding: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
}
.showing_jobs span {
    display: block;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
#job-manager-job-dashboard table td, #job-manager-job-dashboard table th {
    padding: 14px!important;
}
table > thead > tr > th, .table > thead > tr > th, table > thead > tr > td, .table > thead > tr > td {
    padding: 14px;
    color: #454545;
    background: #a6ce39;
    border-bottom: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
table > thead > tr > th, table > thead > tr > td, .table > thead > tr > th, .table > thead > tr > td {
    background: #a6ce39;
}
.table-bordered {
    border: 1px solid #ebebeb;
}
.table {
    width: 100%;
}
table, .table {
    width: 100%;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table, .table {
    width: 100%;
}
table {
    width: 100%;
    margin-bottom: 1.5em;
    border-collapse: collapse !important;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.btn {
    padding: 12px!important;
    border-radius: 0!important;
}
/*job dashboard*/

/*Profile page*/
.cleanlogin-container {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    padding: 26px 24px 36px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    border: 1px solid #ddd;
}
.cleanlogin-container {
    border: 1px solid #eee;
    box-shadow: none;
    background: #f9f9f9;
    padding: 30px 20px;
    max-width: none;
}
.cleanlogin-container h4 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 1em;
}
.cleanlogin-field, .cleanlogin-form input[type="submit"] {
    margin-bottom: 20px;
}
.cleanlogin-full-width form .cleanlogin-field {
    float: left;
    width: 45%;
    margin-left: 5%;
}
.cleanapplocation-field {
    float: left;
    width: 50%;
}
.form-user_login {
    width: 45%;
    margin-left: 5%;
    margin-bottom: 20px;
}
.pad-left {padding:0 0 10px 5px;}
.pad-right {padding:0 5px 10px 0;}
.cleanlogin-container fieldset {
    border-width: 0;
    border-color: inherit;
    padding: 0;
    margin: 0;
}
.cleanlogin-full-width form fieldset {
    clear: both;
    margin-left: -5%;
    margin-bottom: 26px;
}
.login-username input[type="text"],
.login-password input[type="password"],
#registerform input[type="text"],
#registerform input[type="password"],
#registerform input[type="email"],
.cleanlogin-form input[type="text"],
.cleanlogin-form input[type="password"],
.cleanlogin-form input[type="email"],
.search_keywords input[type="text"],
.search_location input[type="text"],
.user_form input[type="text"],
.ab-submenu  input[type="text"],
.ab-submenu  input[type="password"] {
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #fff;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 18px;
    padding-right: 18px;
    height: 46px;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
}

.ab-submenu  input[type="text"],
.ab-submenu  input[type="password"] {
	height: 34px;
}
.form-user_login input[type="text"] {
	background-color: #f9f9f9;
}
.search_jobs .search_location {
    width: 100%!important;
    padding-top: .5em;
    float: none!important;
    padding-left: 0!important;
}
.search_keywords input[type="text"],
.search_location input[type="text"] {
	padding-left: 5px;
    padding-right: 5px;
}

.select-style, .currency-field {
    display: block;
    /*border: 1px solid #ebebeb;*/
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
select#display_name,
.isborder {border: 1px solid #ebebeb;}

.currency-field {position:absolute;right: 15px;width: auto;border: 1px solid #ebebeb;}
.fieldset-job_type .field.required-field,
.fieldset-job_level .field.required-field,
.fieldset-job_language .field.required-field,
.fieldset-job_times .field.required-field,
.fieldset-company_tagline .field,
.search_salary,
.search_level,
.fieldset-ho-so-san-co .field,
.fieldset-status .field,
.resume_filters .search_resumes div.resume-filter.search_location {
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
.resume_filters .search_resumes div.resume-filter.search_location {
    padding-left: 0;
}
.select-style:after,
.currency-field:after,
.fieldset-job_type .field.required-field:after,
.fieldset-job_level .field.required-field:after,
.fieldset-job_language .field.required-field:after,
.fieldset-job_times .field.required-field:after,
.fieldset-company_tagline .field:after,
.fieldset-ho-so-san-co .field:after,
.fieldset-status .field:after,
.resume_filters .search_resumes div.resume-filter.search_location:after {
    content: "\f0dd";
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #8c8c8c;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}
.search_salary select,
.search_level select,
.select-style select,
.currency-field select,
.fieldset-job_type .field.required-field select,
.fieldset-job_level .field.required-field select,
.fieldset-job_language .field.required-field select,
.fieldset-job_times .field.required-field select,
.fieldset-company_tagline .field select,
.fieldset-ho-so-san-co .field select,
.fieldset-status .field select,
.resume_filters .search_resumes div.resume-filter.search_location select {
    padding: 5px 16px;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-group .select-style select,
.form-group .select-style select
.fsearch_categories .select-style select,
.fsearch_location .select-style select {
	    border: 1px solid #ccc;
}
.fsearch-btn.button {
	padding: 13px 18px;
}
.search_salary select,
.search_level select {
	padding: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-size:14px!important;
	font-family: "Open Sans";
}
.job-manager-filter, .form-control, .postform {
	height: 46px!important;
	border-radius: 0px!important;
}

#job_currency, .resume_filters .search_resumes div.resume-filter.search_location select {
	padding: 5px 35px;
	height: 44px!important;
	border-radius: 0px!important;
}
.resume_filters .search_resumes div.resume-filter.search_location select {
	padding: 5px 0;
}

@media (max-width: 767px){
	.cleanlogin-full-width form .cleanlogin-field {
	    width: 100%;
	    margin-left: 0;
	    float: none;
	}
	.cleanapplocation-field {
    float: none;
    width: 100%;
	}
	.form-user_login {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
	}
	.pad-right {padding:0 0 10px 0;}
	.pad-left {padding:0 0 10px 0;}
	.cleanlogin-full-width form fieldset {
	    margin-left: 0;
	}
	.job-manager-form fieldset label {
		width: 100%!important;
	    margin-left: 0!important;
	    float: none!important;
	}
	.job-manager-form fieldset div.field {
		width: 100%!important;
	    margin-left: 0!important;
	    float: none!important;
	}
	.currency-field {
    	margin-top: 29px;
	}
}
.job-manager-form fieldset input.input-number,.job-manager-form fieldset input.input-text, .job-manager-form fieldset select, .job-manager-form fieldset textarea {
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #fff;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 18px;
    padding-right: 18px;
    height: 46px;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;

}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {padding:12px 5px!important;}
.chosen-container-multi .chosen-choices li.search-choice, .chosen-container-multi .chosen-choices li.search-field {line-height: 30px!important;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close, .chosen-container-multi .chosen-choices li.search-field  .search-choice-close{
    top: 13px!important;
}
.chosen-container-multi .chosen-choices {
	border: 1px solid #ebebeb!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
    background-image: none!important;
}
    
/*Profile page*/
.job_filters .search_jobs .filter_by_tag a, .job_filters .filter_by_tag a {
    padding: 0!important;
    line-height: 25px;
}

/* Tag cloud */

	.filter_by_tag .filter_by_tag_cloud{
		margin:1em 0;
		padding:.5em 10px;
		text-align:center;
		}
	
	.filter_by_tag  a{
		text-decoration:none;
		color:#fff;
		padding:0 2px;	
		}
	.filter_by_tag  a:hover{	
		color:#F76A0C;
		}		
	.job_filters .search_jobs .filter_by_tag a.active, .job_filters .filter_by_tag a.active {
    background: none!important;
    /* text-decoration: none; */
    color: #F76A0C;
}
/* // Tag cloud */
img.avatar.avatar-18.wp-user-avatar.wp-user-avatar-18.alignnone.photo,
img.avatar.avatar-18wp-user-avatar.wp-user-avatar-18.alignnone.photo.avatar-default {
  margin: 0 0 0 10px;
}
ul.job_listings .job-type.quan-ly {
  color: #90da36!important;
  font-weight: 400!important;
}
ul.job_listings .job-type.sinh-vien-ban-thoi-gian {
  color: #f08d3c!important;
  font-weight: 400!important;
}
ul.job_listings .job-type.lao-dong-pho-thong-nghe {
  color: #6033cc!important;
  font-weight: 400!important;
}
ul.job_listings .job-type.chuyen-mon {
  color: #d93674!important;
  font-weight: 400!important;
}
ul.job_listings .job-type.ngoai-gio {
  color: #39c!important;
  font-weight: 400!important;
}
.single_job_listing .job-type.quan-ly, .widefat .column-job_listing_type .quan-ly {
  background-color: #90da36!important;
}
.single_job_listing .job-type.sinh-vien-ban-thoi-gian, .widefat .column-job_listing_type .sinh-vien-ban-thoi-gian  {
  background-color: #f08d3c!important;
}
.single_job_listing .job-type.lao-dong-pho-thong-nghe , .widefat .column-job_listing_type .lao-dong-pho-thong-nghe {
  background-color: #6033cc!important;
}
.single_job_listing .job-type.chuyen-mon, .widefat .column-job_listing_type .chuyen-mon  {
  background-color: #d93674!important;
}
.single_job_listing .job-type.ngoai-gio, .widefat .column-job_listing_type .ngoai-gio  {
  background-color: #39c!important;
}
#submit-job-form .job_application {
  text-align: right;
}
#submit-job-form  .job_application .application_details {
  clear: both;
  text-align: left;
}
.single_job_listing .company img {
    width: 10em!important;
    height: auto!important;
    position: relative!important;
    margin-right: 2em;
}
.homecontent.postlist article {
	  border: none!important;
}
.home-recent-post {
	padding:20px;
	background-color: #454545;
	color: #e9e9e9;
	margin-left: 0!important;
	margin-right: 0!important;
}
.row.home-recent-post h2 {
  color: #F76A0C;
}
.footercredits {
  border-top: 1px solid #d8d8d8;
  margin-top: 20px;
}
.virtue_image_widget_caption {
  float: left;
  width: 58%;
  font-weight: 600;
}
#containerfooter {
  border-top: 3px solid #d8d8d8;
}
ul#menu-footer-column {
  padding: 0;
}
ul#menu-footer-column li {
  list-style-type: none;
  background-color: #d8d8d8;
  margin-bottom: 3px;
  padding: 5px;
}
ul#menu-footer-column li:hover {
  background-color: rgba(0,0,0,.1);
}















/*JOB manager CSS*/
ul.tags  {
	  display: inline-block;
}

.tags li  {
	  float: left;
}

.tag  {
	  background: #eee;
	  border-radius: 3px 0 0 3px;
	  color: #999;
	  display: inline-block;
	  height: 30px;
	  line-height: 30px;
	  padding: 0 20px 0 23px;
	  position: relative;
	  margin: 0 10px 10px 0;
	  text-decoration: none;
	  -webkit-transition: color 0.2s;
	  font-size: 20px;
}

.tag:before  {
	  background: #fff;
	  border-radius: 10px;
	  box-shadow: inset 0 1px rgba(0,  0,  0,  0.25);
	  content: '';
	  height: 6px;
	  left: 10px;
	  position: absolute;
	  width: 6px;
	  top: 12px;
}

.tag:after  {
	  background: #fff;
	  border-bottom: 14px solid transparent;
	  border-left: 14px solid #eee;
	  border-top: 16px solid transparent;
	  content: '';
	  position: absolute;
	  right: 0;
	  top: 0;
}

.tag:hover  {
	  background-color: #ddd;
	  color: white;
}

.tag:hover:after  {
	   border-left-color: #ddd;
}

.skills  {
	  padding-bottom: 10px;
}

.level  {
	  padding-bottom: 10px;
}

table.job-manager-jobs, .job-manager-past-applications  {
	width: 100%;
}

.search_location input,  .search_categories input,  .search_keywords input {
	  height: 30px;
}
.job_filters .search_jobs div.search_keywords
{
  width: 100%!important;
  padding-top: 0;
  float:none!important;
  padding-right:0!important;
}
.job_filters .search_jobs div.search_region,
.job_filters .search_jobs div.search_region,
.job_filters .search_jobs div.search_categories {
  width: 100%!important;
  padding-top: .5em;
  float:none!important;
  padding-right:0!important;
}
.job_filters .search_jobs div.search_salary,
.job_filters .search_jobs div.search_level {
	margin-top: .5em;
  	padding-top: 0;
}
.job_filters .job_types li {float:none!important;}
.showing_jobs .reset, .showing_jobs .rss_link {display:none;}
.single-job  {
  margin: 0 0 0 -15px;
}
.rp4wp-related-job_listing>ul li.job_listing.job_position_featured a,  .rp4wp-related-job_listing>ul li.no_job_listings_found.job_position_featured a,  ul.job_listings li.job_listing.job_position_featured a,  ul.job_listings li.no_job_listings_found.job_position_featured a  {
	  background: none!important;
}

.rp4wp-related-job_listing>ul li.job_listing.job_position_featured a:focus,  .rp4wp-related-job_listing>ul li.job_listing.job_position_featured a:hover,  .rp4wp-related-job_listing>ul li.no_job_listings_found.job_position_featured a:focus,  .rp4wp-related-job_listing>ul li.no_job_listings_found.job_position_featured a:hover,  ul.job_listings li.job_listing.job_position_featured a:focus,  ul.job_listings li.job_listing.job_position_featured a:hover,  ul.job_listings li.no_job_listings_found.job_position_featured a:focus,  ul.job_listings li.no_job_listings_found.job_position_featured a:hover  {
	  background-color: #fcfcfc!important;
}

ul.job_listings li.job_listing.job_position_featured a h3,  ul.job_listings li.job_listing.job_position_featured .company strong {
	  color:red;
	  font-weight:700;
}

.job_categories_title  {
	padding-left: 15px;
}

.job_categories_title a  {
	  color: #0078c9;
	  font-weight:600;
}
.job_categories_title ul {padding-left: 10px;}

 li.child_list {
	  list-style-type: none;
}

a.subcat  {
	  padding-right: 5px;
}

ol  {
	  width: 100%;
	  list-style-type: none;
	  overflow: hidden;
	  padding-bottom: 5px;
	  padding-top: 3px;
}
.job-cat-arc ol {
	padding-left:0;
}
.job_categories_title .child_list a {font-weight:400;color:#F76A0C;}

.blue-slash-bg{
	background: url(../../img/blue-slash_bg.png);
    padding: 20px;
    color:#0078c9;
}

ol li.job_region_title {
  width: 20%;
  float: left;
  padding: 0 10px 5px 10px;
}

@media screen and (max-width: 1199px) {
	ol li.job_region_title {
	  width: 20%;
	  float: left;
	  padding: 0 10px 5px 10px;
}
}

@media screen and (max-width: 768px) {
	ol li.job_region_title {
	  width: 33%;
	  float: left;
	  padding: 0 10px 5px 10px;
}
}

@media screen and (max-width: 650px)  {
	ol li.job_region_title {
	  width: 49%;
	  float: left;
	  padding: 0 0 5px 0;
}
}

@media (min-width:992px)  {
	.fsearch_keywords  {
	float: left;
	width: 28%;
}

.fsearch_categories  {
	width:28%;
	padding-left: .5em;
	float:left;
}

.fsearch_location  {
	float: left;
	padding-left: .5em;
	width: 28%;
}

.search-btn  {
	padding-left: .5em;
	width: 16%;
	float: left;
}

p.search-btn   {
	margin:0;
}

.fsearch_keywords input,  .fsearch_categories select,  .fsearch_location select  {
	height:45px;
	padding: 0 10px;
	color:#959595;
	border: 1px solid #ccc;
}

.filters_form  {
	background:#0078c9!important;
}

}

@media (max-width:991px)  {
	.fsearch_keywords  {
	float: left;
	width: 100%;
}

.fsearch_categories  {
	width:50%;
	float:left;
	  padding-top: .5em;
	 clear: both;
}

.fsearch_location  {
	float: right;
	padding-left: .5em;
	width: 50%;
	padding-top: .5em;
}

.search-btn  {
	padding-top:.5em;
	 width: 200px;
	float: right;
}

.fsearch_keywords input,  .fsearch_categories select,  .fsearch_location select  {
	height:30px;
}

.filters_form  {
	background:#0078c9!important;
}
}
@media (max-width:479px)  {
	.fsearch_categories, .fsearch_location {
	  width: 100%;
	}
	.fsearch_location {padding-left:0;}
	.search_keywords.resume-filter {
		width: 100%!important;
		padding-right: 0!important;
	}
	.search_location.resume-filter {
		width: 100%!important;
		padding-left: 0!important;
		/*padding-top: .5em!important;*/
		margin-top: .5em;
	}
}
.home-iconmenu a h4 {
  font-size: 22px;
  font-weight: 600;
 }

/*Resume CSS*/
.single-resume .resume-manager-education h3,  .single-resume .resume-manager-experience h3  {
	  font-weight: 400;
	  margin: 0;
	  padding: 0;
	  font-size: 14px;
}

.single-resume .resume-manager-education h3:before,  .single-resume .resume-manager-experience h3:before  {
	  display: block;
	  width: 1em;
	  height: 1em;
	  background: #eee;
	  content: "";
	  margin: 1em 0 0 -.375em;
	  position: absolute;
	  left: -2px;
	  top: 0;
	  -moz-border-radius: .75em;
	  -webkit-border-radius: .75em;
	  border-radius: .75em;
	  border: 4px solid #fff;
}

.single-resume .resume-manager-education,  .single-resume .resume-manager-experience  {
	  padding: 0 0 0 1em;
	  margin: 0 0 1em;
	  border-top: none;
}

table.resume-manager-resumes  {
	width: 100%;
}
a.job-application-contact,
a.job-application-toggle-content,
a.job-application-toggle-notes {
    margin-right: 10px;
}

.job-application-note-add textarea.input-text {
    width: 100%;
    height: 100px;
    border: 1px solid #ebebeb;
}

/* Normal styles for the modal */
#modal {
	left:60%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:60%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	z-index: 999;
}
/* Make the modal appear when targeted */
#modal:target {
	opacity: 1;
	top:10%;
	visibility: visible;
}

#modal .footer {
	border:none;
	border-top: 1px solid #e7e7e7;
	border-radius: 0 0 5px 5px;
}
#modal h2 {
	margin: 0;
}
#modal .btn {
	float:right;
}
@media screen and (max-width: 991px) {
	#modal {
	  left: 50%;
	  width: 80%;
	  }
}
@media screen and (max-width: 768px) {
	#modal {
	  left: 40%;
	  width: 100%;
	  }
}
.btn.mfp-close {
  color: #fff!important;
  top: 2px;
  right: 2px;
  line-height: 0;
  height: 29px;
  width: 37px;
}
.btn.mfp-close {
	background: #F76A0C;
}
.btn.mfp-close:hover {
	background: #F76A0C;
}
.cta-btn .application_button {
	font-size:20px;
}
.job_application.application .cta-btn {
	float:right;
}
#modal .copy,#modal .header, #modal .footer {
	padding:20px;
}
.modal-content {
	background: #f7f7f7;
	position: relative;
	z-index: 20;
}
#modal .copy {
	background: #fff;
}

#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.morecontent span {
    display: none;
}
a.morelink.less {
    float: right;
}
@media (max-width: 639px){
	.resume-posted-column.resume-meta, .candidate-location-column {
	  display: none!important;
	}
	ul.resumes li.resume a div.candidate-column {
		width:100%!important;
	}
}
a.job-applications-download-csv {
    border: 1px solid #e9e9e9;
    padding: 3px;
    border-radius: 5px;
}